{% extends 'base.html' %}

{% load django_bootstrap5 %}

{% block content %}
<p> accounts/index page </p>

{% if request.user.is_authenticated %}
  {{ user }} 님 안녕하세요
  <a href={% url 'accounts:logout' %}> 로그아웃 </a>
{% else %}
  <a href={% url 'accounts:signup' %}> 회원가입 </a>
  <a href={% url 'accounts:login' %}> 로그인 </a>
{% endif %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">PK</th>
      <th scope="col">username</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <th scope="row">{{ user.pk }}</th>
      <td><a href="{% url 'accounts:detail' user.pk %}">{{ user.username }}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}
